# Импорт

In [1]:
import pandas as pd
from sklearn import datasets
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from modules import mlpclsf
import numpy as np

## Датасет Титаник

In [2]:
titanic = pd.read_csv('../data/titanic.csv', sep = ',')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
titanic.fillna(titanic.mean(), inplace=True)
titanic.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [4]:
titanic = pd.get_dummies(data=titanic, prefix='c', columns=['Sex', 'Embarked'])
titanic.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,c_female,c_male,c_C,c_Q,c_S
0,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,0,3,35.0,0,0,8.0500,0,1,0,0,1

In [5]:
titanic_X = titanic.drop('Survived', 1).values
titanic_y = titanic['Survived'].values
titanic_X_train, titanic_X_test, titanic_y_train, titanic_y_test = train_test_split(titanic_X, titanic_y, test_size=0.2, stratify=titanic_y)

In [6]:
titanic_n_attributes = 10
titanic_n_classes = 2
titanic_nn = mlpclsf.MLP([titanic_n_attributes + 1, 6, titanic_n_classes], debug=False)

In [7]:
titanic_nn.fit(titanic_X_train, titanic_y_train, n_epochs=2000, learning_rate=0.1)

IndexError: tuple index out of range

In [ ]:
classification_report(titanic_y_test, titanic_nn.predict(titanic_X_test))

## Датасет Ирис

In [8]:
iris = datasets.load_iris()

In [9]:
iris_X = iris.data
iris_y = iris.target
iris_X_train, iris_X_test, iris_y_train, iris_y_test = train_test_split(iris_X, iris_y, test_size=0.2, stratify=iris_y)

In [10]:
scaler = StandardScaler()
iris_X_train = scaler.fit_transform(iris_X_train)
iris_X_test = scaler.transform(iris_X_test)

In [11]:
iris_n_attributes = 4
iris_n_classes = 3
iris_nn = mlpclsf.MLP([iris_n_attributes + 1, 6, iris_n_classes], debug=False)
iris_nn.fit(iris_X_train, iris_y_train, n_epochs=2000, learning_rate=0.1)

IndexError: tuple index out of range

In [ ]:
classification_report(iris_y_test, nn.predict(iris_X_test))